 body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
 }

 .rockie {
    height: 50px;
 }

 .move-btn {
    border-radius: 50%;
    border: 3px solid white;
    background-color: transparent;
    width: 120px;
    height: 120px;
    margin: 10px;
    cursor: pointer;
 }

 .result {
    font-weight: bold;
    font-size: 25px;
 }

 .score {
    margin-top: 60px;
 }

 .resbtn {
    padding: 8px 15px;
    margin-top: 10px;
    background-color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
 }