button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(232, 232, 0);
    margin: 10px;

}

button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgb(203, 203, 203);
    background-color: rgb(239, 239, 0);
}